.friend-list {
  margin-left: 20px;
  margin-top: -20px;
}

.item {
  width: 300px;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: honeydew;
  border: 1px solid rgb(195, 0, 255);
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 15px;
}

.avatar {
  height: 60px;
  width: 60px;
  border: 1px solid rgb(195, 0, 255);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.name {
  font-size: 20px;
  font-weight: 600;
}
